# Исключение временных и сборочных файлов
build/
*.o
*.a
*.so
*.dylib
*.exe
*.dll

# Лог-файлы
*.log

# Конфигурационные файлы IDE и системы
.vscode/
.idea/
*.swp
.DS_Store

# Файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Push Swap Visualizer сборочные файлы
push_swap_visualizer
imgui.ini

# Исполняемые файлы
push_swap
checker_linux
checker_Mac